* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body {
    font-family: 'Rubik Mono One', sans-serif;
}

.section {
    height: 100vh;
}

.first {
    background-color: red;
}

.second {
    background-color: green;
}

.third {
    background-color: yellow;
}