* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

Body {
    font-family: 'Rubik Mono One', sans-serif;
}

.main-nav{
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px;
}

.main-nav ul li {
    list-style: none;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin-right: 40px;
}

.main-nav ul li a{
    display: inline-block;
    /* dimensioni nel tag 'a' in modo da rendere cliccabile l'intera area
    intono al testo*/
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.section {
    height: 100vh;
    position: relative;
}

.first {
    background-color: red;
}

.second {
    background-color: green;
}

.third {
    background-color: yellow;
}

.content {
    /* background-color: blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h1 {
    font-size: 48px;
    color: yellow;
}

.third.section .content h1 {
    color: green;
}